<!doctype html>
<html>
<head>
    <title>THE ROULETTE</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Pokémon Roulette Game</h1>
        <img src="img/pokeLette.jpg" alt="PokéRowlette">

        <!-- two buttons, with two paths, one to player -->
        
        <!-- ADMIN safe -->
        <p>Admin Only Access:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>
        <!-- For Players -->
    <div class='jumbotron text-center thePlayersBox'>
        <p>where the players play</p>
        <button><a href='/gamePage'>let's win some money</a></button>
    </div>

</div>
</body>
</html>
